body{
    text-align: center;
}
#nomeCachorro{
    color: rgb(202, 39, 39);
}

#nomeGato{
    color:rgb(158, 202, 39)
}

.corFundoCinza{
    background-color: lightgray;
}

button{
    border-radius: 30%;
    width: 100px;
    height: 50px;
    background-color: rgb(105, 156, 177);

}